* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #598191;
    border-bottom: 2px solid #283c44;
    padding: 20px 50px;
}

body {
    color: #fff;
    background-image: url('https://static.tildacdn.com/tild3032-3136-4132-a137-373761646236/1620144977_31-phonot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(150.99deg, #5192cc -26%, #ffffff 145%);
    width: 80vw;
    max-width: 840px;
    height: 100vh;
}
.equipment_wrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    word-break: break-all;
    user-select: none;
}
.equipment_logo{
    max-width:30vw;
    cursor: pointer;
    margin: 20px 0;
    transition: transform 0.5s ease-in-out;
    user-select: none;
}
.equipment_logo:hover{
    transform: scale(1.1);
}
.list{
    width: 95%;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.active_list{
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
}
.active_ski{
    transform: translateY(-10vh) scale(1.5);
}
.active_ski:hover{
    transform: translateY(-10vh) scale(1.5);
}
.active_board{
    transform: translateY(10vh) scale(1.5);
}
.active_board:hover{
    transform: translateY(10vh) scale(1.5);
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}

header a {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #cb2222;
}

a:hover {
    text-decoration: underline;
}


.person_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
    /*border: 2px solid  #000000;*/

    border:4px solid transparent;
    background: linear-gradient(150.99deg, #5192cc -26%, #ffffff 145%) padding-box , radial-gradient(at 80.15684469851622% 31.390952005354844%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 58.868526326797664% 65.60158488855453%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 90.72153257288859% 94.03807090112126%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 26.20835251785123% 70.92130810832937%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 19.746796760796137% 80.14343131775439%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 61.283194670846086% 42.20896415628923%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 31.85232601793797% 73.49692949758816%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 92.097082492536% 6.995516430672222%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 55.36933501476724% 51.4324692170149%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(238.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%), radial-gradient(at 32.72865845896327% 41.77033204107785%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 1) 0%, hsla(178.53658536585365, 54.66666666666667%, 55.88235294117647%, 0) 100%) border-box;

    border-radius: 5px;
    padding: 5px 5px;
    margin: 15px 0;
}
.people{
    height: 24px;
    width: 24px;
    padding-right: 5px;
}
.social_icon{
    height: 24px;
    width: 24px;
    padding-right:20px;
}





.container {
    padding: 50px;
}

.post {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background: #598191;
    color: #000000;

}
.post h4 {
    margin-bottom: 20px;
}

.post p {
    margin-bottom: 10px;
}

.post a {
    color: #283c44;
}
@media (max-width: 1000px){
    .equipment_logo{
        max-width:50vw;
    }
    .active_ski{
        transform: translateY(-3vh) scale(1.6);
    }
    .active_ski:hover{
        transform: translateY(-3vh) scale(1.6);
    }
    .active_board{
        transform: translateY(3vh) scale(1.6);
    }
    .active_board:hover{
        transform: translateY(3vh) scale(1.6);
    }
}
@media (max-width: 600px){
}
@media (max-width: 400px){
    .main_area{
        padding: 10px 10px;
        width: 90vw;
    }
    .equipment_wrapper{
        width: 100%;
    }
    .people{
        height: 24px;
        width: 24px;
        padding-right: 3px;
    }
    .social_icon{
        height: 24px;
        width: 24px;
        padding-right:10px;
    }
    .active_ski{
        transform: translateY(-3vh) scale(1.7);
    }
    .active_ski:hover{
        transform: translateY(-3vh) scale(1.7);
    }
    .active_board{
        transform: translateY(3vh) scale(1.7);
    }
    .active_board:hover{
        transform: translateY(3vh) scale(1.7);
    }
}