* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #598191;
    border-bottom: 2px solid #283c44;
    padding: 20px 50px;
}

body {
    color: #fff;
    background-image: url('https://static.tildacdn.com/tild3032-3136-4132-a137-373761646236/1620144977_31-phonot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(150.99deg, #5192cc -26%, #ffffff 145%);
    width: 80vw;
    max-width: 840px;
    height: 100vh;
}
.equipment_wrapper{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    word-break: break-all;
    user-select: none;
}
.equipment_logo{
    max-width:30vw;
    cursor: pointer;
    margin: 20px 0;
    transition: transform 0.5s ease-in-out;
    user-select: none;
}
.equipment_logo:hover{
    transform: scale(1.1);
}
.list{
    /*height: auto;*/
    width: 95%;
    /*transition: all 3s ease-in-out;*/

    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.active_list{
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);

    /*height: 300px;*/
    /*width: 95%;*/
    /*transition: all 1s ease-in;*/
}
.active_ski{
    transform: translateY(-10vh) scale(1.5);
}
.active_ski:hover{
    transform: translateY(-10vh) scale(1.5);
}
.active_board{
    transform: translateY(10vh) scale(1.5);
}
.active_board:hover{
    transform: translateY(10vh) scale(1.5);
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}

header a {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #cb2222;
}

a:hover {
    text-decoration: underline;
}


.person_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
    border: 2px solid  #000000;

    /*border:4px solid transparent;*/
    /*background: linear-gradient(to right, #5154cc , #cc8b51 );*/
    /*background: linear-gradient(150.99deg, #5192cc -26%, #ffffff 145%) padding-box ,linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;*/
    /*border-image-slice: 1;*/

    border-radius: 5px;
    padding: 5px 5px;
    margin: 15px 0;
}
.people{
    height: 24px;
    width: 24px;
    padding-right: 5px;
}
.social_icon{
    height: 24px;
    width: 24px;
    padding-right:20px;
}





.container {
    padding: 50px;
}

.post {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background: #598191;
    color: #000000;

}
.post h4 {
    margin-bottom: 20px;
}

.post p {
    margin-bottom: 10px;
}

.post a {
    color: #283c44;
}